:root {
  --md-primary-fg-color: #333333;
  --md-accent-fg-color: #00f3df; 
  --mdc-typography-headline6-font-family: 'Space Grotesk', sans-serif;
  --md-default-fg-color: hsla(0, 0%, 83%, 0.87);
  --md-default-fg-color--light: hsla(0, 0%, 80%, 0.821);
  --md-default-fg-color--lighter: hsla(0, 0%, 91%, 0.742);
  --md-default-fg-color--lightest: hsl(0, 0%, 95%);
  --md-typeset-a-color: #ffffff;
  --md-typeset-mark-color: #e1ff00;
}

.md-sidebar {
  --md-default-bg-color: hsla(0, 0%, 8%, 0);
  --md-typeset-a-color: #ffffff;

}
.md-header {
  background-color: #171717;
  fill-opacity: 0.5;
  transition: all 0.2s ease-in-out;
  color: white;
}

body {
  --md-primary-fg-color: #333333;
  background-color: #1c1c1c;
  /* background-image:
    url("https://www.transparenttextures.com/patterns/bo-play.png");
  background-repeat: repeat;
  background-size: auto, cover;
  background-attachment: fixed; */
  background-image:
    url("..\images\touchmouse1.gif");
  background-size: auto, cover;
  background-attachment: fixed;
  color: #c3c3c3;
}